* {
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}
@media only screen and (max-width: 68.75em) {
  html {
    /* font-size: 50%; */
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
